html, body {
		width: 1200px;
		padding: 1px;
		margin: 0px auto 0px auto;
		
}
.header-content{
		padding: 2%;
		background-color:#eaeaea;
		text-align: center;
		font-size: 200%;
		border-radius: 10px;
		
}
.image5{
		text-align: center;
		font-size: 160%;
}
h1 {
		font-weight: 500;
		font-size: 65px;
		font-family: 'Trispace', sans-serif;
}
.page-nav{
		display:grid;
}
ul{
		list-style: none;
		text-align: center;
}
li{
		display: inline-block;
		padding: 60;
}
#nav_button{
		font-size: 100%;
		background-color: eaeaea;
		width: 50px;
		border-radius: 10px;
		border: 2px;
		border-color: black;
}
.container-content1{
		display: grid;
		border-radius: 10px;
		background-color:#eaeaea;
		overflow: auto;
		text-align: center;
		font-size: 100%;
		font-weight: 500;
		font-size: 30px;
		font-family: 'Trispace', sans-serif;
}
.fa {
  display: block;
  padding: 100px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-linkedin {
  background: blue;
  color: white;
}
.fa {
  display: block;
  padding: 100px;
  font-size: 20px;
  width: 25px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-github {
  background: black;
  color: white;
}
.fa-snapchat {
  background: yellow;
  color: white;
}
.content1{
		overflow: auto;
		text-align: left;
		font-size: 110%
}
.container-content2{
		display: grid;
		border-radius: 10px;
		background-color:#eaeaea;
		overflow: auto;
		text-align: center;
		font-size: 200%;
		font-weight: 500;
		font-size: 30px;
		font-family: 'Trispace', sans-serif;
}
.container-content3{
		display: grid;
		border-radius: 10px;
		background-color:#eaeaea;
		overflow: auto;
		text-align: center;
		font-size: 200%;
		font-weight: 500;
		font-size: 30px;
		font-family: 'Trispace', sans-serif;
}
.container-content4{
		display: grid;
		border-radius: 10px;
		background-color:#eaeaea;
		overflow: auto;
		text-align: center;
		font-size: 200%;
		font-weight: 500;
		font-size: 30px;
		font-family: 'Trispace', sans-serif;
}
.content1{
		display: grid;
		font-size: 160%;
}
.content2{
		display: grid;
		font-size: 160%;
}
.an-image1{
		text-align: center;
		overflow: auto;
		
}	
.image-caption1{
		text-align: justify;
		font-size: 160%;
}
.an-image2{
		text-align: center;
		overflow: auto;
}
.image-caption2{
		text-align: justify;
		font-size: 160%;
}
.an-image3{
		text-align: center;
		font-size: 160%;
}
.image-caption3{
		text-align: justify;
		font-size: 100%;
}
#profile_pic{
		border-radius: 10px;
		padding: 2px;
		-webkit-box-shadow: 7px 6px 16px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 7px 6px 16px -5px rgba(0,0,0,0.75);
		box-shadow: 7px 6px 16px -5px rgba(0,0,0,0.75);
		text-align: center;
}
.content6{
		text-align: center;
}